.container {
    background: #fff;
    border-radius: 25px;
    padding: 3% !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border: 0px;
}

.right-section {
    background: rgb(26, 72, 75);
    color: #fff;
    border-radius: 20px;

    .table {
        color: #fff;
    }
}

.btn-success {
    background: rgb(26, 72, 75) !important;
}

.valueth {
    color: #55C2AD;
    font-size: 28px;
}

th {
    vertical-align: middle;
    border: 0 !important;
}

input {
    background: #F3F9FA;
    border: none;
    margin-bottom: 5px;
}

select {
    background: #F3F9FA;
    border: none;
}

h6 {
    color: #8A999B;
    margin-bottom: 5px;
}

.tip_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-evenly; */
}

input[type="button"] {
    width: 63%;
    margin: 6px;
    background: rgb(26, 72, 75);
    border: none;
    height: 45px;
    color: #fff;
    border-radius: 7px;
    font-size: 20px;
}

.h-40 {
    height: 40px !important;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 0.25rem;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #F3F9FA !important;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #9FE8DF !important;
}

select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #F3F9FA !important;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #9FE8DF !important;
}

select {
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #F3F9FA;
    -webkit-appearance: none;
    background-position-x: 25em;
}

.success {
    background: #55C2AE !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #F3F9FA !important;
    opacity: 1;
}

.btn-check:focus+.btn-dark,
.btn-dark:focus {

    border-color: #9FE8DF !important;
    box-shadow: none !important;
}

.btn-success:focus {

    border-color: #9FE8DF !important;
    box-shadow: none !important;
}

th {
    vertical-align: middle;
    border: 0 !important;
    text-align: left;
    width: 100px;
}