<section class="container p-3 mt-5">

    <h3 class="text-center " style="color:rgb(26, 72, 75);font-size: 34px;
    margin-bottom: 30px;"><b>Tip Calculator</b></h3>



    <div class="row d-flex justify-content-between">
        <div class="col-md-6 p-5 border right-section order-xl-1 order-sm-2">
            <!-- <h3 class="text-center ">Payment</h3>
             -->
            <!-- <button (click)="downloadAsPDF()">downloadAsPDF</button> -->
            <table class="table borderless" id="pdfTable" #pdfTable>
                <thead>
                    <tr>
                        <th scope="col">
                            <h3>Result</h3>
                        </th>
                        <th scope="col" style="text-align: right;">
                            <div (click)="handleReset()"  class="reloadDouble " [ngClass]="resetclicked?'animation':''"></div>
                        </th>
                    </tr>

                </thead>
            </table>
            <hr>
            <table class="table borderless" id="pdfTable" #pdfTable>
                <thead>
                    <tr>
                        <th scope="col">Bill Amount:</th>
                        <th scope="col" id='total-tip' class="valueth"> ₹ {{ (totalamount || 0).toFixed(2) }}</th>
                    </tr>
                    <tr>
                        <th scope="col">Total Tip Amount:

                        </th>
                        <th scope="col" id='total-tip' class="valueth"> ₹ {{ (totaltip || 0).toFixed(2) }}</th>
                    </tr>

                    <tr>
                        <th scope="col"> Total Amount:</th>
                        <th scope="col" id='total-tip' class="valueth"> ₹ {{ (finaltotal || 0).toFixed(2)}}
                        </th>
                    </tr>
                    <!-- *ngIf="showfields" -->
                    <tr>
                        <th *ngIf="showfields" scope="col">Total Tip Amount:
                            <br />
                            <span>/  person</span>
                        </th>
                        <th scope="col" *ngIf="showfields" id='total-bill' class="valueth"> ₹ {{(totaltip /
                            numberOfPeople ||
                            0).toFixed(2)}}</th>
                    </tr>
                    <!-- *ngIf="showfields" -->
                    <tr>
                        <th *ngIf="showfields" scope="col">Total Amount:
                            <br />
                            <span>/  person</span>
                        </th>
                        <th *ngIf="showfields" scope="col" id="per-person-bill" class="valueth"> ₹ {{ (finaltotal /
                            numberOfPeople ||
                            0).toFixed(2) }}
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-5 p-5 order-xl-2 order-sm-1">
            <form [formGroup]="myForm">
                <!-- <h6>Item</h6>
                <select id="input-person" formControlName="price" class='h-40 w-100' (change)="getPrice($event)">
                    <option disabled selected value="">Select Item</option>
                    @for (pricelist of pricelist; track pricelist ) {
                    <option [value]="pricelist?.price">{{pricelist?.Dish}} </option>
                    }
                </select> -->
                <h6>Bill Amount</h6>
                <input (keypress)="onlyNumberKey($event)" pattern="[a-zA-Z]+" class="h-40 form-control w-100"
                    pattern="\d+" name="f" [(ngModel)]="ammount" (ngModelChange)="onAmountChange($event)"
                    formControlName="f" min="10" max="100" minlength="2" maxlength="7">
                <div *ngIf="myForm.get('f')?.hasError('pattern')" class="error">
                    Please enter numeric value.
                </div>

                <!-- <input type="number" name="f" formControlName="f" pattern="\d+" id="input-person"
                    class="h-40 form-control w-100" min="10" max="100" minlength="2" maxlength="7" /> -->


                <h6>Tip Amount </h6>
                <div class="tip_button">
                    <input (click)="value(5)" value="5 %" type="button" [ngClass]="{'success': isActive == 5 }"
                        style="margin-left: 0;">
                    <input (click)="value(10)" value="10 %" type="button" [ngClass]="{'success': isActive == 10}">
                    <input (click)="value(15)" value="15 %" type="button" [ngClass]="{'success': isActive == 15}"
                        style="margin-right: 0;">
                </div>
                <div class="tip_buttons">
                    <input id="input-person" [(ngModel)]="tipAmount"
                        (ngModelChange)="onAmountChangetip($event)" [ngModelOptions]="{standalone: true}"
                        placeholder="Custom" class='form-control w-100' min="10" max="100" minlength="2" maxlength="3" (keypress)="onlyNumberKey($event)"
                        style="margin-right: 0!important;margin-left: 0!important;padding-left: 10px;height:45px"
                        (click)="hidetip()">
                </div>
                <h6>Number of People</h6>
                <input type="number" (keypress)="onlyNumberKey($event)" id="input-person"
                    class='h-40 form-control w-100' [(ngModel)]="numberOfPeople" name="numberOfPeople" required
                    #numberOfPeopleInput="ngModel" (ngModelChange)="onAmountChangetwo($event)"
                    [ngModelOptions]="{standalone: true}" value="1" [min]="1">

                <!-- Display validation error message -->
                <div
                    *ngIf="(numberOfPeopleInput.invalid && (numberOfPeopleInput.dirty || numberOfPeopleInput.touched)) || (numberOfPeopleInput.value === '' && form.submitted)">
                    <div *ngIf="numberOfPeopleInput.errors?.['required'] && !numberOfPeopleInput.errors?.['min']"
                        class="error">
                        Number of people is required.
                    </div>
                    <div *ngIf="numberOfPeopleInput.errors?.['min']" class="error">
                        Number of people should be greater than 0.
                    </div>
                </div>
                <p class="text-danger" id='warning'></p>

            </form>
        </div>
    </div>
</section>